<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="fashion.bootstrap.css">
    <link rel="stylesheet" href="fashion.component.css">
    <link rel="icon" href="../../assets/logo.png">
</head>
<body>



  <!------------------------------------------------------Header---------------------------------------------------->
    <nav class="navbar navbar-expand-lg navbar-light bg-white" style="max-height:70px;z-index:10;">
        <a class="navbar-brand" href="#"><span id="bd-title"><img src="../../assets/navbrd.png" style="max-height:50px;">ShoppingCart</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navdp" aria-controls="navdp" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse bg-white" style="width:100%;" id="navdp">
          <form class="form-inline bg-white  my-2 my-lg-0 mrl">
            <input type="search" style="width:350px;" (ngModelChange)="searchProducts(key.value)" #key="ngModel" ngModel aria-label="Search"
             name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search Products here..." required>
         </form>




<!--
          <button onclick="window.location.href='cart',routerLink='cart'" type="button" class="btn btn-info reg2"><i class="fas fa-shopping-cart"> Cart</i>
            &nbsp;<span class="badge badge-light">0</span>
          </button> -->



        </div>
      </nav>
      <nav class="nav2">
        <ul class="ul2">
            <li id="one"><a href="electronics">Electronics</a></li>
            <li id="two"><a href="mobiles">Mobiles</a></li>
            <li id="three"><a href="computers-laptops">Computers & Laptops</a></li>
            <li id="four"><a href="fashion">Fashion Wear</a></li>

        </ul>
      </nav>
   <!------------------------------------------------------Header---------------------------------------------------->


<!------------------------------------------------------Card2---------------------------------------------------->
<div class="row">
  <div *ngFor="let product of products" class="col-md-6 col-xl-3">
     <div class="card m-b-30">
        <div class="card-body row">
           <div class="card-img-top">
              <a href=""><img src="{{product?.image}}" alt=""   class="img-fluid rounded-rectangle w-10"  style="margin:5px; max-height:200px; max-width:200px;"></a>
           </div>

        </div>
        <ul class="list-group list-group-flush">
          <h5>{{product?.p_name}}</h5>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{product?.p_description}}</li>
           <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Category: {{product?.p_category}}</li>
           <li class="list-group-item"><i class="fa fa-phone float-right"></i>Seller : {{product?.p_seller}}</li>
           <li class="list-group-item"><i class="fa fa-phone float-right"></i>Price : {{product?.p_price}}</li>

        </ul>

        </div>
        <button onclick="window.location.href='order'" type="button" title="Click here to order" class="btn btn-primary reg3">Order</button>
     </div>
  </div>

<!------------------------------------------------------Card2---------------------------------------------------->

   <script src="fashion.bootstrap.js"></script>



</body>
</html>
