<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="electronics.bootstrap.css">
    <link rel="stylesheet" href="electronics.component.css">
    <link rel="icon" href="../../assets/logo.png">
</head>
<body>



  <!------------------------------------------------------Header---------------------------------------------------->
    <nav class="navbar navbar-expand-lg navbar-light bg-white" style="max-height:70px;z-index:10;">
        <a class="navbar-brand" href="#"><span id="bd-title"><img src="../../assets/navbrd.png" style="max-height:50px;">ShoppingCart</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navdp" aria-controls="navdp" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse bg-white" style="width:100%;" id="navdp">
          <form class="form-inline bg-white  my-2 my-lg-0 mrl">
            <input class="form-control mr-sm-2 srh-w bg-white" style="width:350px;" type="search" placeholder="Search..." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

          </form>




          <button onclick="window.location.href='cart',routerLink='cart'" type="button" class="btn btn-info reg2"><i class="fas fa-shopping-cart"> Order List</i>
            &nbsp;<span class="badge badge-light">0</span>
          </button>



        </div>
      </nav>
      <nav class="nav2">
        <ul class="ul2">
            <li id="one"><a href="electronics">Electronics</a></li>
            <li id="two"><a href="mobiles">Mobiles</a></li>
            <li id="three"><a href="computers-laptops">Computers & Laptops</a></li>
            <li id="four"><a href="fashion">Fashion Wear</a></li>

        </ul>
      </nav>
   <!------------------------------------------------------Header---------------------------------------------------->


<!------------------------------------------------------Card2---------------------------------------------------->
<div class="container-fluid" style="background-color:#F0F8FF; border-bottom:1px solid darkgray; overflow:hidden;">
    <div class="row mb-3">
      <div class="col-sm-12 ">
        <h4 class="cd-h4 mt-3 mb-3">Electronics Collections</h4>
        <div class="card-group">
          <div class="card col-sm-4 col-lg-2 card2sty">
            <img src="../../assets/boAt.jpg" style="margin:5px; max-height:200px; max-width:200px;" alt="lap1" class="image-fluid">
            <div class="card-body cd-txt">
              <h4 class="card-title">boAt Air dopes</h4>
              <p class="card-text txt-sz">boAt Airdopes 452 TWS Earbuds with Beast™ Mode for Low Latency, ENx Technology, Upto 20 Hours Battery</p>
              <a href="order" class="btn btn-warning bb-btn">Buy</a>
            </div>
          </div>
          <div class="card col-sm-4 col-lg-2 card2sty">
            <img src="../../assets/boatear.jpg" style="margin:5px; max-height:200px; max-width:200px;" alt="lap2" class="image-fluid">
            <div class="card-body cd-txt">
              <h4 class="card-title">boAt Ear phones</h4>
              <p class="card-text txt-sz">boAt Bassheads 242 in Ear Wired Earphones with Mic(Carbon Black)</p>
              <a href="order" class="btn btn-warning bb-btn">Buy</a>
            </div>
          </div>
          <div class="card col-sm-4 col-lg-2 card2sty">
            <img src="../../assets/wm.jpg" style="margin:5px; max-height:200px; max-width:200px;" alt="lap3" class="image-fluid">
            <div class="card-body cd-txt">
              <h4 class="card-title">IFB Washing Machine</h4>
              <p class="card-text txt-sz">IFB 8.5 kg 5 Star Fully-Automatic Front Loading Washing Machine (EXECUTIVE PLUS VX ID)</p>
              <a href="order" class="btn btn-warning bb-btn">Buy</a>
            </div>
          </div>
          <div class="card col-sm-4 col-lg-2 card2sty">
            <img src="../../assets/speaker.jpg" style="margin:5px; max-height:200px; max-width:200px;" alt="lap4" class="image-fluid">
            <div class="card-body cd-txt">
              <h4 class="card-title">Zebronics Speaker</h4>
              <p class="card-text txt-sz">ZEBRONICS Zeb Music Bomb X Mini - Blue with Yellow</p>
              <a href="order" class="btn btn-warning bb-btn">Buy</a>
            </div>
          </div>
          <div class="card col-sm-4 col-lg-2 card2sty">
            <img src="../../assets/securitycam.jpg" style="margin:5px; max-height:200px; max-width:200px;" alt="lap5" class="image-fluid">
            <div class="card-body cd-txt">
              <h4 class="card-title">Mi securitycam</h4>
              <p class="card-text txt-sz">
                Mi 360° Home Security Camera 2K Pro with Bluetooth Gateway BLE 4.2 l 2K Super Clear Image Quality</p>
              <a href="order" class="btn btn-warning bb-btn">Buy</a>
            </div>
          </div>
          <div class="card col-sm-4 col-lg-2 card2sty">
            <img src="../../assets/mouse.jpg" style="margin:5px; max-height:200px; max-width:200px;" alt="lap2" class="image-fluid">
            <div class="card-body cd-txt">
              <h4 class="card-title">Desktop Mouse</h4>
              <p class="card-text txt-sz">SteelSeries Rival 3 Gaming Mouse - 8,500 CPI TrueMove Core Optical Sensor - 6 Programmable Buttons</p>
              <a href="order" class="btn btn-warning bb-btn">Buy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!------------------------------------------------------Card2---------------------------------------------------->



   <script src="electronics.bootstrap.js"></script>



</body>
</html>
