<html>

<head>
  <link rel="stylesheet" href="login.component.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Login page</title>

</head>



<body>

  <section class="login-page">

    <div id="container-background">

      <div id="container">
        <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>Welcome...!</strong> You have sucessfully logged in.
          <button (click)="goToNextPage()" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="main">

          <p class="sign" >Login here!</p>

          <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" action="submit">
            <input class="em " title="Enter your email,  ex: xyz@example.com" type="text" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{3,4}$" formControlName="email_id" placeholder="Email"  required>
            <p class="error-msg" style="font-size:13px;"
              *ngIf="reactiveForm.get('email_id')?.errors?.required && reactiveForm.get('email_id')?.touched">Email
              is required</p>


            <input class="pass"  title="enter your password" type="text" formControlName="password" placeholder="Password"  required>
            <p class="error-msg" style="font-size:13px;"
              *ngIf="reactiveForm.get('password')?.errors?.required && reactiveForm.get('password')?.touched" >Password
              is required</p>


            <div class="submit-block">
              <button class="submit" title="click here Login" input type="submit" href="electronics" value="Submit"  [disabled]="!reactiveForm.valid" align="center">Login</button>

            <p class="forgot"  title="click Here! if you forgot your password" ><a href="signup">Forgot Password?</a></p>
          </div>
          </form>
        </div>
      </div>
    </div>
  </section>

</body>

</html>
