<html>
  <head>
    <title>Order list</title>
  </head>

  <body>

    <div class="btn-group" role="group" aria-label="Basic example">
      <button (click)="userlist()" type="button" class="btn btn-primary">User List</button>
      <button (click)="productlist()" type="button" class="btn btn-primary">Product List</button>
      <button (click)="back()" type="button" class="btn btn-secondary">Back</button>

    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
         
      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef>Product Name</th>
        <td mat-cell *matCellDef="let element">{{ element.productName }}</td>
      </ng-container>

         
      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
      </ng-container>

         
      <ng-container matColumnDef="emailId">
        <th mat-header-cell *matHeaderCellDef>Email id</th>
        <td mat-cell *matCellDef="let element">{{ element.emailId }}</td>
      </ng-container>

         
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef>Phone Number</th>
        <td mat-cell *matCellDef="let element">{{ element.phoneNumber }}</td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let element">{{ element.address }}</td>
      </ng-container>

      <ng-container matColumnDef="orderDate">
        <th mat-header-cell *matHeaderCellDef>Order Date</th>
        <td mat-cell *matCellDef="let element">{{ element.orderDate }}</td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>State</th>
        <td mat-cell *matCellDef="let element">{{ element.state }}</td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef>City</th>
        <td mat-cell *matCellDef="let element">{{ element.city }}</td>
      </ng-container>

      <ng-container matColumnDef="zipCode">
        <th mat-header-cell *matHeaderCellDef>Zip-Code</th>
        <td mat-cell *matCellDef="let element">{{ element.zipCode }}</td>
      </ng-container>

      <ng-container matColumnDef="paymentMode">
        <th mat-header-cell *matHeaderCellDef>Payment-Mode</th>
        <td mat-cell *matCellDef="let element">{{ element.paymentMode }}</td>
      </ng-container>


         
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="warn" (click)="deleteOrder(element.id)">Delete</button>
        </td>
      </ng-container>
      <ng-container matColumnDef="action1">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="updateOrder(element.id)">Update</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </body>
</html>
