body,html{
  background-image: url('../../../src/assets/LoginBG.jpg');
  background: position 100px;
  background-size: auto;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background-size: cover;

}
.center {
  text-align: center;
  line-height: 40px;
}
  .center p {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  }
  div {
    margin-bottom: 10px;

  }
  label {
    display: inline-block;
    width: 120px;
    color: #000000;
  }
  input {
    border-radius: 4px;
    padding: 5px 10px;
  }

  .form-controladd{
    padding: 10px;
    border-radius: 4px;

  }
.color{
  color: rgb(0, 0, 0);

}
button{
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #ad2fc4, #e040fb);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  /* font-family: "Ubuntu", sans-serif; */
  margin-left: 5%;
  margin-top: 2%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

