<html>

<head>
  <title>Update Order page</title>
</head>

<body>
  <div class="center">
    <br>
    <h1 class="color">Update Order</h1><br>

    <form (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label>Product Name:</label>
        <input type="text" placeholder="Enter Product Name" class="form-control" id="ProductName" name="productName"
          [(ngModel)]="order.productName">
      </div>

      <div class="form-group">
        <label> User Name:</label>
        <input type="text" placeholder="Enter your User Name" class="form-control" id="userName" name="userName"
          [(ngModel)]="order.userName">
      </div>

      <div class="form-group">
        <label for="emailId" class="control-label"> Email Id:</label>
        <input id="emailId" name="emailId" (input)="validateemailId()" placeholder="Enter Your Email Id"
          pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #emailId="ngModel" [(ngModel)]="order.emailId" type="email"
          class="form-control"><br />
        <!-- <small id="emailHelp" class="form-text text-muted" >We'll never share your email with anyone else.</small> -->
        <span class="help-block btn-danger" *ngIf=errors.emailId>
          Please Input a Valid Email Id
        </span>

      </div>

      <div class="form-group">
        <label>Phone Number:</label>
        <input type="tel" placeholder="9876543210" class="form-control"  id="phoneNumber"
          name="phoneNumber" [(ngModel)]="order.phoneNumber">
      </div>




      <div class="form-group">
        <label>Address:</label>
        <textarea name="address" class="form-control" placeholder="Enter your address" [(ngModel)]="order.address">
             </textarea>
      </div>


      <div class="form-group">
        <label>State:</label>

        <select name="state" id="state" class="form-control" [(ngModel)]="order.state" placeholder="Enter your state Name">
          <option value="" disabled selected >Select your option</option>
          <option value="Andhra Pradesh">Andhra Pradesh</option>
          <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
          <option value="Arunachal Pradesh">Arunachal Pradesh</option>
          <option value="Assam">Assam</option>
          <option value="Bihar">Bihar</option>
          <option value="Chandigarh">Chandigarh</option>
          <option value="Chhattisgarh">Chhattisgarh</option>
          <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
          <option value="Daman and Diu">Daman and Diu</option>
          <option value="Delhi">Delhi</option>
          <option value="Lakshadweep">Lakshadweep</option>
          <option value="Puducherry">Puducherry</option>
          <option value="Goa">Goa</option>
          <option value="Gujarat">Gujarat</option>
          <option value="Haryana">Haryana</option>
          <option value="Himachal Pradesh">Himachal Pradesh</option>
          <option value="Jammu and Kashmir">Jammu and Kashmir</option>
          <option value="Jharkhand">Jharkhand</option>
          <option value="Karnataka">Karnataka</option>
          <option value="Kerala">Kerala</option>
          <option value="Madhya Pradesh">Madhya Pradesh</option>
          <option value="Maharashtra">Maharashtra</option>
          <option value="Manipur">Manipur</option>
          <option value="Meghalaya">Meghalaya</option>
          <option value="Mizoram">Mizoram</option>
          <option value="Nagaland">Nagaland</option>
          <option value="Odisha">Odisha</option>
          <option value="Punjab">Punjab</option>
          <option value="Rajasthan">Rajasthan</option>
          <option value="Sikkim">Sikkim</option>
          <option value="Tamil Nadu">Tamil Nadu</option>
          <option value="Telangana">Telangana</option>
          <option value="Tripura">Tripura</option>
          <option value="Uttar Pradesh">Uttar Pradesh</option>
          <option value="Uttarakhand">Uttarakhand</option>
          <option value="West Bengal">West Bengal</option>
        </select>


      </div>



      <div class="form-group">
        <label>City:</label>
        <input type="text" id="city" name="city" placeholder="Enter your city" class="form-control"
          [(ngModel)]="order.city">
      </div>


      <div class="form-group">
        <label>Zip-Code:</label>
        <input type="tel" placeholder="123456" class="form-control" id="zipCode" name="zipCode"
          [(ngModel)]="order.zipCode">
      </div>


      <button mat-button color="basic" type="submit">Update Order</button>

    </form>&nbsp;
  </div>
</body>

</html>
