<html>
  <head>
    <title>Products list</title>
  </head>

  <body>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button (click)="orderlist()" type="button" class="btn btn-primary">Order List</button>
      <button (click)="userlist()" type="button" class="btn btn-primary">User List</button>
      <button (click)="back()" type="button" class="btn btn-secondary">Back</button>

    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
         
      <ng-container matColumnDef="p_name">
        <th mat-header-cell *matHeaderCellDef>Product Name</th>
        <td mat-cell *matCellDef="let element">{{ element.p_name }}</td>
      </ng-container>

         
      <ng-container matColumnDef="p_description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{ element.p_description }}</td>
      </ng-container>

         
      <ng-container matColumnDef="p_seller">
        <th mat-header-cell *matHeaderCellDef>Seller</th>
        <td mat-cell *matCellDef="let element">{{ element.p_seller }}</td>
      </ng-container>

         
      <ng-container matColumnDef="p_category">
        <th mat-header-cell *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let element">{{ element.p_category }}</td>
      </ng-container>

      <ng-container matColumnDef="p_price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let element">{{ element.p_price }}</td>
      </ng-container>

         
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="warn" (click)="deleteProduct(element.id)">Delete</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="action1">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="updateProduct(element.id)">Update</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </body>
</html>
