<html>

<head>
  <title>Products management</title>
</head>

<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="topnav" id="myTopnav">
    <a href="home">ShoppingCart Home</a>
    <a href="add-product">Add a new Product</a>
    <a href="product-list">Product list</a>
    <a href="order-list">Order list</a>
    <a href="user-list">User list</a>

    <div class="topnav-right">
      <a href="admin-panel">Log Out</a>
    </div>
  </div>
<p class="ptag">Welcome to Admin console</p><div class="container" id="main-container">





  <div class="row">
    <div *ngFor="let product of products" class="col-md-6 col-xl-3">
       <div class="card m-b-30">
          <div class="card-body row">
             <div class="card-img-top">
                <a href=""><img src="{{product?.image}}" alt=""   class="img-fluid rounded-rectangle w-10"  style="margin:5px; max-height:200px; max-width:200px;"></a>
             </div>

          </div>
          <ul class="list-group list-group-flush">
            <h5>{{product?.p_name}}</h5>
            <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{product?.p_description}}</li>
             <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Category: {{product?.p_category}}</li>
             <li class="list-group-item"><i class="fa fa-phone float-right"></i>Seller : {{product?.p_seller}}</li>
             <li class="list-group-item"><i class="fa fa-phone float-right"></i>Price : {{product?.p_price}}</li>

          </ul>

          </div>
          <!-- <button (click) = "updateProduct(product.id)" class = "btn btn-update" style="margin-left: 10px"> Edit</button> -->
          <button (click)="updateProduct(product.id)" type="button" title="Click here to order" class="btn btn-primary reg3">Edit</button>
       </div>
    </div>
  </div>











</body>

</html>
