
<html>

    <head>
      <link rel="stylesheet" href="signup.component.css">
      <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1" >
      
      <title>Sign Up page</title>
    </head>
    
    <body>
      <style>
    
        body {
          background-image: url('../../assets/LoginBG.jpg');
          background-attachment: fixed;
          background-size: cover;
        }
    .main {
            background-color: #FFFFFF;
            width: 400px;
            height: 600px;
            margin: 7em auto;
            border-radius: 1.5em;
            box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }
        </style>
      <div class="main">
        <p class="sign" align="center">Sign Up</p>
        <form class="form1">
          <input class="un " type="text" align="center" placeholder="Your Name">
          <input class="em " type="text" align="center" placeholder="Email Id">
          <input class="ph " type="text" align="center" placeholder="Phone Number">
          <input class="pass" type="password" align="center" placeholder="Password">
          <input class="pass" type="password" align="center" placeholder="Enter Password Again">
          <br/>
          <br/>
          <br/>
         <br/>
        <a class="submit" align="center">Sign up</a>
      </form>
    </div>
  </body>
</html>
    
    
    