
<html>

    <head>
      <link rel="stylesheet" href="signup.component.css">
      <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1" >
      
      <title>Sign Up page</title>
    </head>
    
    <body>

      <script>
        function validateForm() {
          var a = document.forms["ngNativeValidate"]["user"].value;
          if (a == "" || x == null) {
            alert("Name must be filled out");
            return false;
          }
          var b = document.forms["ngNativeValidate"]["email"].value;
          if (b == "" || x == null) {
            alert("Name must be filled out");
            return false;
          }
          var c = document.forms["ngNativeValidate"]["ph"].value;
          if (c == "" || x == null) {
            alert("Name must be filled out");
            return false;
          }
          var d = document.forms["ngNativeValidate"]["pwd"].value;
          if (d == "" || x == null) {
            alert("Name must be filled out");
            return false;
          }
          var e = document.forms["ngNativeValidate"]["pwd"].value;
          if (e == "" || x == null) {
            alert("Name must be filled out");
            return false;
          }
        }
        </script>


      <div id="container-background">
        <div id="container">
     
      <div class="main">
        <p class="sign" align="center">Sign Up</p>
        <form class="ngNativeValidate" action="" onsubmit="return validateForm()" method="post" required>
          <input class="un " type="text" align="center" name="user" placeholder="Your Name">
          <input class="em " type="text" align="center" name="email" placeholder="Email Id">
          <input class="ph " type="text" align="center" name="ph" placeholder="Phone Number">
          <input class="pass" type="password" align="center" name="pwd" placeholder="Password">
          <input class="pass" type="password" align="center" name="pwd" placeholder="Enter Password Again">
          <br/>
          <br/>
          <br/>
         <br/>
         
        <a class="submit" align="center" onClick="validateForm()" value="Submit">Sign up</a>
      </form>
    </div>
  </div>
</div>
  </body>
</html>
    
    
    