<html>

<head>
  <link rel="stylesheet" href="signup.component.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Sign Up page</title>
</head>

<body>



  <div id="container-background">
    <div id="container">
      <!--login form area-->
      <div class="main">
        <p class="sign" align="center">Sign Up</p>
        <form (ngSubmit)="onSubmit()"  required>
          <div class="form-group">
            <!-- <label>User Name:</label> -->
            <input type="text" placeholder="Enter Username" class="form-control" id="ProductName" name="productName"
              [(ngModel)]="signup.username">
          </div>

          <div class="form-group">
            <!-- <label for="emailId" class="control-label"> Email Id:</label> -->
            <input id="emailId" name="emailId" (input)="validateemail_id()" placeholder="Enter Your Email Id"
              pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #emailId="ngModel" [(ngModel)]="signup.email_id" type="email"
              class="form-control"><br />
            <span class="help-block btn-danger" *ngIf=errors.email_id>
              Please Input a Valid Email Id
            </span>

          </div>

          <div class="form-group">
            <!-- <label>Phone Number:</label> -->
            <input type="tel" placeholder="Enter Phone Number" class="form-control"  id="phoneNumber"
              name="phoneNumber" [(ngModel)]="signup.phone_no">
          </div>


          <div class="form-group">
            <!-- <label for="password" class="control-label">Password</label> -->
            <input type="password"  placeholder="Enter Password" class ="form-control"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" id = "Password" name="Password" minlength="4"
            [(ngModel)] = "signup.password">
        </div>

            <div class="form-group">
              <!-- <label for="password" class="control-label"> Confirm Password</label> -->
              <input type="password"  placeholder="Enter Confirm Password" class ="form-control"  (input)="validatepassword()" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,}" id = "confirmPassword" name="confirmPassword" minlength="4"
              [(ngModel)] = "signup.confirm_password">
              <span class="help-block btn-danger" *ngIf=err.password>
              password doesn't match<br>
            </span>
          </div>


          <div class="submit-block">
            <button class="submit" title="Click here to finish signup" type="submit"   align="center">Sign Up</button>
             <!--login form area-->

          </div>




        </form>&nbsp;
      </div>
    </div>
  </div>
</body>

</html>
