
<html>

  <head>
    <title>Admin login</title>
  </head>

  <body>
    <div class="container" id="container">

      <div class="form-container sign-in-container">
        <form (ngSubmit)="onSubmit()" [formGroup]="reactiveForm" required>
          <h1 class="heading1">Admin login</h1>

          <input type="email" title="Enter your email,  ex: xyz@example.com" pattern="^[a-z0-9._%+-]+@shoppingcart.com"  type="text" align="center" formControlName="email_id" placeholder="Email" required />
          <p class="error-msg" align="center" style="font-size:13px;"
              *ngIf="reactiveForm.get('email_id')?.errors?.required && reactiveForm.get('email_id')?.untouched && reactiveForm.get('email_id')?.touched">
              Email is required
            </p>
          <input type="password"  title="Enter your password" type="password" align="center" formControlName="password" placeholder="Password" required />
          <p class="error-msg" style="font-size:13px;"
              *ngIf="reactiveForm.get('password')?.errors?.required && reactiveForm.get('password')?.untouched && reactiveForm.get('password')?.touched"
              align="center">Password
              is required</p>
              <p class="error-msg" style="font-size:13px;"
              *ngIf="reactiveForm.get('password')?.errors?.minlength" align="center">at least 5 characters
              are required</p>
          <div class="label">
            <input type="checkbox" name="test" /> Keep me signed in!
          </div>


          <button class="submit" title="Click here to finish login" type="submit"  [disabled]="!reactiveForm.valid">Log In</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">

          <div class="overlay-panel overlay-right">
            <h1>Hello, Admin!</h1>
            <p>Please enter your details to login.</p>

          </div>
        </div>
      </div>
    </div>
  </body>

  </html>
